@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0 auto;
}

body {
	color: #333333 !important;
	background: #f5f5f5 !important;
	font: 14px/18px 'Open Sans', sans-serif;
}

/* Fonts Section */
/*
'Open Sans', sans-serif;
'Fjalla One', sans-serif;
'Roboto', sans-serif;
*/

@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.woff2') format('woff2'),
         url('../fonts/socialico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.adSection img {
    margin: 20px 0;
}

.headerSection {
    padding: 20px 0;
}

.headerRight {
    margin: 29px 0;
    overflow: hidden;
}

.mainNav {
    margin-bottom: 20px;
    z-index: 9999;
    position: relative;
}





.latestNewsBlog {
    background: #fff;
    border: 1px solid #eae9e9;
    padding: 5px 10px 10px 10px;
    overflow: hidden;
}

.latestNewsBlog ul li a {
    color: #e94256;
    font: 16px/24px 'Open Sans', sans-serif;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    font-weight: 560;
}

.latestNewsBlog ul {
    list-style: none;
    margin-bottom: 0;
}

.latestNewsBlog ul li {
    display: block;
    border-bottom: 1px solid #ebe7e7;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.latestNewsBlog ul li:last-child {
    border-bottom: none;
	padding-bottom: 0;
    margin-bottom: 0;
}
	
.latestNewsBlog ul li p {
    color: #444444;
    font: 13px/20px 'Open Sans', sans-serif;
	margin-bottom: 0;
}	
	
	
.blogImg a {
	float: none !important;
}

.blogImg a img {
    float: left;
    margin-right: 10px;
}

.blogDateTime {
    color: #939191;
    font: italic 12px/8px 'Open Sans', sans-serif;;
	margin-bottom: 5px;
}



.newsContentHeading {
    background: #e94256;
    padding: 8px 10px;
}

.newsContentHeading a {
    font: italic 20px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 600;
}

.newsContentHeading a:hover {
    color: #461016;
	text-shadow: 1px 1px 1px #ffa6b1;
	text-decoration: none;
}

.newsContentHeading span {
    color: #ffffff;
    font-size: 20px;
    line-height: 0;
}

.newsSection {
    background: #ffffff;
    border-top: none;
    border-left: 1px solid #eae9e9;
    border-right: 1px solid #eae9e9;
}

.newsContents ul {
	margin-bottom: 0;
	list-style: none;
}

.newsContents ul li {
    border-bottom: 1px solid #a7a7a7;
}

.newsHeading {
    margin: 10px;
}

.newsHeading a {
    color: #242424;
    font: 16px/24px 'Open Sans', sans-serif;
}

.newsHeading a:hover {
    color: #e94256;
	text-decoration: none;
}

.newsContents, .newsContentsActive {
    border-bottom: 1px solid #a7a7a7;
}

.newsContents:last-child {
    border-bottom: 3px solid #e94256;
}

.newsContentsActive .newsHeading a {
    color: #e94256;
    font: 16px/24px 'Open Sans', sans-serif;;
}

.newsContentsActive .newsHeading a:hover {
    color: #242424;
}




.celebritySection {
    background: #fff;
    border: 1px solid #eae9e9;
    padding: 40px 10px 10px 10px;
}

.celebrityDetail {
    background: #f9f9f9;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 15px;
    text-align: center;
}

.celebrityName {
    color: #242424;
    font: italic 20px 'Open Sans', sans-serif;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.viewProfile a:hover {
	color: #e94256;
	text-decoration: none;
}


.sectionHeading {
    margin-top: 10px;
}

.contentHead {
    margin-top: -11px;
    font-size: 22px;
    margin-left: 10px;
    position: absolute;
    z-index: 8;
    font-weight: 600;
}

.contentHead:after {
    content: "";
    position: absolute;
    border-color: transparent #c72235 #c72235 transparent;
    border-width: 6px 5px;
    border-style: solid;
    left: -10px;
    top: 0;
}

.contentHead h1 {
    background: #e94256;
    color: #FFF;
    padding: 0 15px 8px 15px;
    line-height: 20px;
}

.contentHead h1 a {
    color: #fff;
    text-decoration: none;
    font: italic 20px 'Open Sans', sans-serif;
}

.contentHead h1 span {
    font-size: 20px;
}




.footerSection {
	background: #e9e9e9;
	padding: 10px 0 30px 0;
	border-top: 3px solid #d7d6d6;
	margin-top: 30px;
	text-align: center;
}

.footerSocialMedia ul {
    list-style: none;
    margin-bottom: 0;
}

.footerSocialMedia li {
    display: inline-block;
}

.footerSocialMedia ul li a {
	color: #333333;
    font-family: "socialicoregular";
	font-size: 50px;
}

.footerSocialMedia ul li a:hover {
	color: #336699;
	text-decoration: none;
}


.footerNav {
    text-align: center;
    width: 65%;
}

.footerNav li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #242424;
    line-height: 13px;
	margin-bottom: 10px;
}

.footerNav li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

.footerNav li a {
    color: #242424;
    font: 14px 'Open Sans', sans-serif;
	font-weight: 600;
}

.footerNav ul li a:hover {
	color: #336699;
	text-decoration: none;
}

.footerNotes {
    width: 75%;
    margin-bottom: 20px;
}

.footerNotes p {
    color: #242424;
    font: 14px/24px 'Open Sans', sans-serif;
    margin-bottom: 0;
	font-weight: 600;
}

.copyrightSection p {
    color: #898686;
    font: 13px 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #f9f9f9;
	margin-bottom: 0;
	font-weight: 600;
}




.singleViewContainer {
    background: #ffffff;
    border: 1px solid #eae9e9;
}


.viewSingleBlog {
    padding: 20px;
}


.rightViewContainer {
    background: #f5f5f5;
    padding: 15px;
}

.facebookComments {
    background: #fafafa;
    border: 1px solid #f0efef;
}




.viewSingleBlog h1 {
    font: 28px/38px 'Fjalla One', sans-serif;
    margin-top: 0;
}

.viewSingleBlog img {
    margin-bottom: 10px;
}

.viewSingleBlog p {
    font: 16px/26px 'Open Sans', sans-serif;
}

.authorDate {
    border-bottom: 1px solid #eae9e9;
    margin-bottom: 20px;
}

.authorDate ul {
    list-style: none;
	margin-bottom: 8px;
}

.authorDate ul li {
    display: inline-block;
    margin-right: 20px;
    color: #bbbbbb;
    font: italic 14px 'Open Sans', sans-serif;
}



.alsoRead {
    border-top: 1px solid #e3e2e2;
    padding-top: 15px;
    margin-top: 20px;
}

.alsoRead ul {
    list-style: none;
}

.alsoRead ul li {
    display: inline-flex;
    margin-bottom: 10px;
}

.alsoRead ul li a {
    color: #333;
    font: 16px 'Open Sans', sans-serif;
}

.alsoRead ul li a:hover {
    color: #dd2026;
	text-decoration: none;
}

.alsoRead ul li span {
	margin-right: 10px;
}

.alsoRead ul li a span {
    color: #dd2026;
    font-family: 'Open Sans', sans-serif;
	margin-right: 0;
}




.recommendHeading {
	margin-bottom: 15px;
}

.recommendedSection h1, .trendingNews h1 {
    font: 24px 'Fjalla One', sans-serif;
}

.recommendHeading a {
    font-size: 15px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}




.trendingNews {
	margin: 15px 0;
}

.trendingContents {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.trendingContents:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.trendingContents img {
    width: 40%;
    float: left;
    margin-right: 10px;
}

.trendingHeading {
    font: 16px/22px 'Open Sans', sans-serif;
}





.aboutCeleb {
    position: relative;
}

.celebProfileImg img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.profileSection {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    padding: 10px 30px 10px 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.celebProfileHeading {
    color: #ffff;
    font: 26px 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #666;
    margin-top: 5px;
}

.celebProfileDesignation {
    color: #ffffff;
    font: 18px 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #666;
}

.celebDetails {
    padding: 15px 0 15px 15px;
}

/*.tab-content {
    padding: 10px;
    background: #fafafa;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057 !important;
    background-color: #fafafa !important;
    border-color: #dee2e6 #dee2e6 #fafafa !important;
}*/



.tab-content {
    padding-top: 10px;
}

.nav-tabs .nav-link {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #cb1625 !important;
	background: none !important;
	border: none !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	color: #cb1625 !important;
    border-color: #ffffff #ffffff #dee2e6 !important;
}




.tabSectionContents h1 {
    font: 26px 'Fjalla One', sans-serif;
    margin-top: 20px;
}

.tabSectionContents ul {
    list-style: none;
}

.tabSectionContents li {
    display: block;
    font: 15px/38px 'Open Sans', sans-serif;
	font-weight: 600;
    border-bottom: 1px dashed #f0f0f0;
}

.tabSectionContents liLlast-child {
    border-bottom: none;
}








.outwrap {
    margin: 10px 0 10px 20px;
    float: left;
    width: 100%;
    max-width: 310px;
    background-color: #000;
}

.inwrap {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.iframe {
    display: none;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.bgimg {
    position: absolute;
    top: -17%;
    left: 0;
    width: 100%;
}

.playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -39px 0 0 -39px;
}


.catNewsHeaing {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    margin-bottom: 10px;
	width: 91%;
}

.catNewsHeaing a {
    color: #ffff;
    font: 15px/20px 'Open Sans', sans-serif;
    font-weight: 600;
}

.catNewsHeaing a:hover {
    color: #ffff;
	text-decoration: none;
}